<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<!--<a href="/target">访问指定页面target.html</a>-->
<!--<a th:href="@{/target}">访问指定页面target.html</a>-->
<!--<br/>-->

<!--value属性：<br/>-->
<!--<a th:href="@{/requestMappingController/success}">访问指定页面success.html</a>-->
<!--<br/>-->
<!--<a th:href="@{/requestMappingController/test}">测试RequestMapping注解的value属性/test</a>-->
<!--<br/>-->
<!--<hr/>-->

<!--method属性：<br/>-->
<!--<a th:href="@{/requestMappingController/test}">测试RequestMapping注解的method属性GET</a>-->
<!--<br/>-->
<!--<form th:action="@{/requestMappingController/test}" method="post">-->
<!--    <input type="submit" value="测试RequestMapping注解的method属性POST">-->
<!--</form>-->
<!--<br/>-->
<!--<form th:action="@{/requestMappingController/test}" method="post">-->
<!--    <input type="hidden" name="_method" value="put"/>-->
<!--    <input type="submit" value="测试RequestMapping注解的method属性PUT">-->
<!--</form>-->
<!--<br/>-->
<!--<form th:action="@{/requestMappingController/test}" method="post">-->
<!--    <input type="hidden" name="_method" value="delete"/>-->
<!--    <input type="submit" value="测试RequestMapping注解的method属性DELETE">-->
<!--</form>-->
<!--<br/>-->
<!--<hr/>-->

<!--派生注解：<br/>-->
<!--<a th:href="@{/requestMappingController/success}">测试GetMapping</a>-->
<!--<br/><br/>-->
<!--<form th:action="@{/requestMappingController/success}" method="post">-->
<!--    <input type="submit" value="测试PostMapping">-->
<!--</form>-->
<!--<br/>-->
<!--<form th:action="@{/requestMappingController/success}" method="post">-->
<!--       <input type="hidden" name="_method" value="put"/>-->
<!--    <input type="submit" value="测试PutMapping">-->
<!--</form>-->
<!--<br/>-->
<!--<form th:action="@{/requestMappingController/success}" method="post">-->
<!--       <input type="hidden" name="_method" value="delete"/>-->
<!--    <input type="submit" value="测试DeleteMapping">-->
<!--</form>-->

<!--params属性：<br/>-->
<!--<a th:href="@{/requestMappingController/testParams}">测试RequestMapping注解的params属性==>testParams</a><br/>-->
<!--<a th:href="@{/requestMappingController/testParams?username=admin}">测试RequestMapping注解的params属性==>testParams?username=admin</a><br/>-->
<!--<a th:href="@{/requestMappingController/testParams(username='admin', password=123456)}">测试RequestMapping注解的params属性==>testParams(username='admin',-->
<!--    password=123456)</a><br/>-->
<!--<a th:href="@{/requestMappingController/testParams(username='admin111', password=123456)}">测试RequestMapping注解的params属性==>testParams(username='admin111',-->
<!--    password=123456)</a><br/>-->

<!--headers属性：<br/>-->
<!--<a th:href="@{/requestMappingController/testHeaders}">测试RequestMapping注解的headers属性==>testHeaders</a><br/>-->

<!--Ant风格路径——?：<br/>-->
<!--<a th:href="@{/requestMappingController/testAnt}">测试ant风格路径_/a?a/testAnt==>/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a1a/testAnt}">测试ant风格路径_/a?a/testAnt==>/a1a/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/aaa/testAnt}">测试ant风格路径_/a?a/testAnt==>/aaa/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/aaaa/testAnt}">测试ant风格路径_/a?a/testAnt==>/aaaa/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a/a/testAnt}">测试ant风格路径_/a?a/testAnt==>/a/a/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a?a/testAnt}">测试ant风格路径_/a?a/testAnt==>/a?a/testAnt</a><br/>-->

<!--Ant风格路径——*：<br/>-->
<!--<a th:href="@{/requestMappingController/aa/testAnt}">测试ant风格路径_/a*a/testAnt==>/aa/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a1a/testAnt}">测试ant风格路径_/a*a/testAnt==>/a1a/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/aaaaa/testAnt}">测试ant风格路径_/a*a/testAnt==>/aaaaa/testAnt</a><br/>-->

<!--Ant风格路径——**：<br/>-->
<!--<a th:href="@{/requestMappingController/aa/testAnt}">测试ant风格路径_/a**a/testAnt==>/aa/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a1a/testAnt}">测试ant风格路径_/a**a/testAnt==>/a1a/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a1a/testAnt}">测试ant风格路径_/a**a/testAnt==>/a11a/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a**a/testAnt}">测试ant风格路径_/a**a/testAnt==>/a**a/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/aaaaa/testAnt}">测试ant风格路径_/a**a/testAnt==>/aaaaa/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a/a/testAnt}">测试ant风格路径_/a**a/testAnt==>/a/a/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a/d/e/a/testAnt}">测试ant风格路径_/a**a/testAnt==>/a/d/e/a/testAnt</a><br/>-->

<!--Ant风格路径——**：<br/>-->
<!--<a th:href="@{/requestMappingController/testAnt}">测试ant风格路径_/a**a/testAnt==>/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a/testAnt}">测试ant风格路径_/a**a/testAnt==>/a/testAnt</a><br/>-->
<!--<a th:href="@{/requestMappingController/a/a/a/a/testAnt}">测试ant风格路径_/a**a/testAnt==>/a/a/a/a/testAnt</a><br/>-->

<!--路径中的占位符：<br/>-->
<!--<a th:href="@{/requestMappingController/testRest/1/admin}">测试路径中的占位符==>/testRest/1/admin</a><br/>-->
<!--<a th:href="@{/requestMappingController/testRest}">测试路径中的占位符==>/testRest</a><br/>-->
<!--<a th:href="@{/requestMappingController/testRest///}">测试路径中的占位符_空值==>/testRest///</a><br/>-->
<!--<a th:href="@{/requestMappingController/testRest/ / /}">测试路径中的占位符_空格==>/testRest/ / /</a><br/>-->

<!--向 Request 域对象共享数据：<br/>-->
<!--<a th:href="@{/scopeController/testRequestByServletAPI}">通过 Servlet API</a><br/>-->
<!--<a th:href="@{/scopeController/testRequestByModelAndView}">通过 ModelAndView</a><br/>-->
<!--<a th:href="@{/scopeController/testRequestByModel}">通过 Model</a><br/>-->
<!--<a th:href="@{/scopeController/testRequestByMap}">通过 Map</a><br/>-->
<!--<a th:href="@{/scopeController/testRequestByModelMap}">通过 ModelMap</a><br/>-->

<!--<a th:href="@{/scopeController/testSession}">通过 Servlet API 向 Session 域对象共享数据</a><br/>-->
<a th:href="@{/scopeController/testApplication}">通过 Servlet API 向 Application 域对象共享数据</a><br/>
</body>
</html>