<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试请求参数</title>
</head>
<body>
<h1>测试请求参数</h1>
<a th:href="@{/paramController/testServletAPI(username='admin',password='123456')}">通过 Servlet API 获取</a><br/>
<a th:href="@{/paramController/testParam(username='admin',password='123456')}">通过控制器方法形参获取</a><br/>
<!--为了更直观地在地址栏中看到请求参数，这里使用get类型请求方式-->
<!--<form th:action="@{paramController/testServletAPI2}" method="get">-->
<!--<form th:action="@{paramController/testParam2}" method="get">-->
<form th:action="@{paramController/testParam3}" method="get">
    <!--    用户名：<input type="text" name="username"><br/>-->
    <!--    用户名：<input type="text" name="user_name"><br/>-->
    密码：<input type="password" name="password"><br/>
    爱好：<input type="checkbox" name="hobby" value="Spring">Spring
    <input type="checkbox" name="hobby" value="SpringMVC">SpringMVC
    <input type="checkbox" name="hobby" value="SpringBoot">SpringBoot
    <br/><input type="submit" value="测试请求参数">
</form>
</body>
</html>